
body {
    height: 100%;
    margin: 100px;
    background-image: url('../images/islam.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    animation: slider 60s infinite linear;
}


@keyframes slider {
    0% {
        background-image: url("../images/back2.jpg");
    }

    20% {
        background-image: url("../images/back1.jpg");
    }

    40% {
        background-image: url("../images/back3.jpg");
        
    }

    60% {
        background-image: url("../images/back4.jpg");
        
    }

    80% {
        background-image: url("../images/back5.jpg");
        
    }
}
.active {
    background-color: rgb(238, 238, 238);
    color: brown;
}



