
@{
    ViewBag.Title = "Index";
    if (Session["U_ID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width-device-width"/>
    <title>User Log</title>
</head>

<body>
    <div>
        <h1>Path to Jannah</h1>
    </div>
</body>
</html>

