
@{
    ViewBag.Title = "Index";

    if (Session["Email"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width-device-width"/>
    <title>User Log</title>
</head>

<body>
    <div>
        <h1>Path to Jannah</h1>
        <h3>Username : @Session["Username"].ToString()</h3>
        <h3>Email : @Session["Email"].ToString()</h3>
        <h3>Mobile : @Session["Mobile"].ToString()</h3>


        <a href="@Url.Action("LogOut","Login")">LogOut</a>
    </div>
</body>
</html>

