
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSheet4.css">
</head>
<body>
    <div class="container">

            <h1 align="center" style="color: crimson; margin-top: 12px"> <a href="@Url.Action("Index", "TopPage")"> PATH TO JANNAH </a></h1>
            <h1 align="center"><b>About US</b></h1>
            <a href="https://www.aust.edu">
                <h6 align="center"><a href="https://www.aust.edu"><img src="~/images/aust_logo.jpeg"></a></h6>
            

        <div>
            <div style="margin:auto;width: fit-content;"><h4 style="margin-top: 50px;"><b>Instructed By:</b></h4></div>
            <div class="card-group" style="margin-top: 20px;justify-content: center; ">
                <div class="card text-white bg-primary mb-3" style="max-width: 19rem; background-image: linear-gradient(darksalmon,seagreen,tomato);">

                    <div class="card-body">
                        <h5 class="card-title">Mr. Ashek Seum</h5>
                        <p class="card-text">Lecturer <br> Department of CSE</p>
                    </div>
                </div>
                <div class="card text-white bg-primary mb-3" style="max-width: 19rem;background-image: linear-gradient(darksalmon,seagreen,tomato);">

                    <div class="card-body">
                        <h5 class="card-title">Mr. Tashreef Muhammad</h5>
                        <p class="card-text">Adjunct Faculty <br> Department of CSE</p>
                    </div>
                </div>
            </div>

            <div style="margin:auto;width: fit-content;"><h4 align="center" style="margin-top: 30px;"><b>Developed By:</b></h4></div>
            <div class="card-group" style="margin-top: 20px;justify-content: center;">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="images/img_avatar2.png" alt="Avatar" style="width:300px;height:200px;">
                        </div>
                        <div class="flip-card-back">
                            <h3 style="margin-top: 40px;">Tahsina Muthaki</h3>
                            <h4>Id: 190104026</h4>
                            <h5>Dept. of CSE</h5>
                        </div>
                    </div>
                </div>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="~/images/img_avatar1.png" alt="Avatar" style="width:300px;height:200px;">
                        </div>
                        <div class="flip-card-back">
                            <h3 style="margin-top: 40px;">Asif Iftekher Fahim</h3>
                            <h4>Id: 190104027</h4>
                            <h5>Dept. of CSE</h5>
                        </div>
                    </div>
                </div>

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="images/img_avatar1.png" alt="Avatar" style="width:300px;height:200px;">
                        </div>
                        <div class="flip-card-back">
                            <h3 style="margin-top: 40px;">Safwan Ibne Masuk</h3>
                            <h4>Id: 190104028</h4>
                            <h5>Dept. of CSE</h5>
                        </div>
                    </div>
                </div>
            </div>
            

</body>
</html>

